#container_informacoes {



}

#fundo_informacoes {

    background: rgb(122, 0, 192);
    background: url('../img/fundo.png');
    width: 430px;
    height: 490px;

}

#fundo_informacoes > h1 {

    margin: 40px 0 0 0;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 4em;
    padding-bottom: 10px;
    border-bottom: 4px solid white;
    font-weight: 700;

}

#fundo_buttons_informacoes {

    margin: 280px 0 0 0;
    display: flex;

}

#button_facebook {

    background:  rgb(218, 218, 218, 0.672);
    border: none;
    padding: 10px 70px 5px 70px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.542);
    transition: 500ms;

}

#button_facebook:hover {

    background:  rgb(218, 218, 218);

}


#button_facebook > span {

}

#button_facebook > span > svg {

    width: 13px;
    color:rgb(122, 0, 192);

}

#button_google {

    margin: 0 0 0 90px;
    background:rgb(218, 218, 218, 0.672);
    border: none;
    padding: 10px 70px 5px 70px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.542);
    transition: 500ms;

}

#button_google:hover {

    background:  rgb(218, 218, 218);

}

#button_google > span {

}

#button_google > span > svg {

    width: 19px;
    color: rgb(122, 0, 192);

}

