body {

    background: rgb(9, 9, 9);
    font-size: 16px;
    margin: 0;

}

.padding_40px {

    padding: 40px;

}

.display_block {

    display: block;

}

#container_login_e_informacoes {

    display: flex;
    justify-content: center;

}

#fundo_login_e_informacoes {

    display: flex;
    margin: 40px 0 0 0;

}

button {

    outline: none;

}