#container_login_redes_sociais {

    background: right center url('../img/fundo.png') no-repeat;
    width: 500px;
    height: 480px;

}

#fundo_login_redes_sociais {

    padding: 10px;

}

#fundo_login_redes_sociais > #fundo_titulo > #titulo {

    margin: 0;
    font-family: sans-serif;
    font-size: 4em;
    color: white;
    border-bottom: 3px solid;
    width: 340px;

}

#fundo_buttons_informacoes {

    margin-top: 30vh;
    display: flex;
    justify-content: center;

}

#button_facebook {

    background: rgba(255, 255, 255, 0.686);
    border: none;
    padding: 7px 60px;
    border-radius: 30px;
    margin: 0 60px 0 0;

}

#button_facebook span svg {

    width: 13px;
    color: rgba(255, 0, 0, 0.46);

}

#button_google {

    background: rgba(255, 255, 255, 0.686);
    border: none;
    padding: 7px 60px;
    border-radius: 30px;

}


#button_google span svg {

    width: 19px;
    color: rgba(255, 0, 0, 0.46);

}

@media (max-width: 1024px) {

    #container_login_redes_sociais {

        background-size: cover;
        width: 100%;
        height: 100vh;
    
    }
    
    #fundo_login_redes_sociais {
    
        
    
    }
 
    #fundo_login_redes_sociais > #fundo_titulo {

        display: flex;
        justify-content: center;

    }
    
    #fundo_login_redes_sociais > #fundo_titulo > #titulo {
    
        background: cover;
        margin: 0;
        font-family: sans-serif;
        font-size: 4em;
        color: white;
        border-bottom: 3px solid;
        width: 340px;
        text-align: center;
    
    }

    #fundo_buttons_informacoes {

        margin-top: ;
        display: flex;
        justify-content: center;
    
    }
    
}


@media (max-width: 355px) {

    body {

        font-size: 13px;

    }

    #fundo_login_redes_sociais > #fundo_titulo > #titulo {

        margin: 0;
        font-family: sans-serif;
        font-size: 4em;
        color: white;
        border-bottom: 3px solid;
        width: 40vh;
    
    }

    #fundo_buttons_informacoes {

        margin-top: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    #button_facebook {

        background: rgba(255, 255, 255, 0.686);
        border: none;
        padding: 7px 0px;
        width: 80%;
        border-radius: 30px;
        margin: 0 0 30px 0;
    
    }

    #button_google {

        background: rgba(255, 255, 255, 0.686);
        border: none;
        width: 80%;
        padding: 7px 60px;
        border-radius: 30px;
    
    }
    
}